<div ng-if="$ctrl.getUser()==null">
	<form name='regForm' novalidate>
		<table>
			<td>
				<tc>first name
					<span class="form_error" ng-if="(regForm.fname.$error.minlength || regForm.fname.$error.required) && regForm.fname.$touched">
						<!-- {{fn_error}}} -->first name is required
					</span>
				</tc>
				<tc>
					<input type=text placeholder="first name" name="fname" ng-model="reg.user.fname" required ></input>
				</tc>
			</td>
			<td>
				<tc>last name
					<span class="form_error" ng-if="(regForm.lname.$error.minlength || regForm.lname.$error.required) && regForm.lname.$touched">last name is required
						<!-- {{ln_error}} -->
					</span>
				</tc>
				<tc>
					<input type=text name="lname" placeholder="last name" name="lname" ng-model="reg.user.lname" required ></input>
				</tc>
			</td>
			<td>
				<tc>email</tc>
				<span class="form_error" ng-if="regForm.email.$invalid && regForm.email.$touched">
					<!-- {{em_error]}} -->invalid email
				</span>
				<tc>
					<input type=email placeholder="email" name="email" name="email"
						ng-model="reg.user.email"
          				required/>
				</tc>
			</td>
			<td>
				<tc>shortname </tc>
									<span ng-if="!$ctrl.valid" class="form_error">invalid short name</span>

				<tc>
					<input type="text" name="sname" ng-model="reg.user.sname" placeholder="short name" name="email" ng-change="$ctrl.validate(reg.user.sname)"/>
				</tc>
			</td>
		</table>
		<input type="button" value="accept" name="" ng-disabled="!(!regForm.$invalid&&($ctrl.valid&&!ctrl.procesing))" ng-click="$ctrl.saveUser(reg.user)">
	</form>
</div>
<div ng-if="$ctrl.getUser()!=null">

User Already signed in
</div>